{% extends "AppCoder/padre.html" %}

{% block contenidoQueCambia %}
<style>
    .content-container {
        background-color: #ffffff;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
        width: 60%;
        margin: 60px auto;
        text-align: center;
    }

    .content-container h2 {
        margin-bottom: 20px;
        color: #4CAF50;
    }

    table {
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 0 15px;
    }

    th {
        text-align: left;
        padding-left: 15px;
    }

    td {
        background-color: #f2f2f2;
        border-radius: 5px;
    }

    input[type="text"], input[type="number"], input[type="email"], select {
        width: 90%;
        padding: 10px;
        margin: 5px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
        border-radius: 5px;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

<div class="content-container">
    <h2>Aquí va la lista de Autos!</h2>

    {% if autos %}
    <ul>
        {% for auto in autos %}
        <li>{{ auto.marca }} ({{ auto.modelo }})</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay autos disponibles.</p>
    {% endif %}
</div>
{% endblock %}
